<a href="https://colab.research.google.com/github/ralsouza/machine_learning_python/blob/master/notebooks/02_defining_business_problem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. Defining business problem
Let's go create a predictive model that's able to predict whether or not a patient has diabetes. To do this, we'll use historical data from patients.

We'll use the dataset [Diabetes Data Set](http://archive.ics.uci.edu/ml/datasets/diabetes)


This dataset describes the medical records of patients from Pima Indians and each record was marqued whether the patient develop diabetes or not.


**Informações sobre os atributos:**

1. Number of times pregnant
2. Plasma glucose concentration a 2 hours in an oral glucose tolerance test
3. Diastolic blood pressure (mm Hg)
4. Triceps skin fold thickness (mm)
5. 2-Hour serum insulin (mu U/ml)
6. Body mass index (weight in kg/(height in m)^2)
7. Diabetes pedigree function
8. Age (years)
9. Class variable (0 or 1)

# 2. Extracting and loading data

In [1]:
# Import libraries
import pandas as pd

In [11]:
# Dataset path
path = '/content/drive/My Drive/Colab Notebooks/07_machine_learning/data/pima-data.csv'

In [3]:
# Load data
data = pd.read_csv(path)
data.head(5)

# This dataset doesn't have header

   6  148  72  35    0  33.6  0.627  50  1
0  1   85  66  29    0  26.6  0.351  31  0
1  8  183  64   0    0  23.3  0.672  32  1
2  1   89  66  23   94  28.1  0.167  21  0
3  0  137  40  35  168  43.1  2.288  33  1
4  5  116  74   0    0  25.6  0.201  30  0

In [12]:
# Load again and add column names
columns = ['preg','plas','pres','skin','test','mass','pedi','age','class']
data = pd.read_csv(path,names=columns)

In [13]:
# Check dataset with column names
data.head(5)

   preg  plas  pres  skin  test  mass   pedi  age  class
0     6   148    72    35     0  33.6  0.627   50      1
1     1    85    66    29     0  26.6  0.351   31      0
2     8   183    64     0     0  23.3  0.672   32      1
3     1    89    66    23    94  28.1  0.167   21      0
4     0   137    40    35   168  43.1  2.288   33      1

In [14]:
# Checking the shape
data.shape

(768, 9)