<a href="https://colab.research.google.com/github/ralsouza/machine_learning_python/blob/master/notebooks/02_machine_learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. Defining business problem
Let's go create a predictive model that's able to predict whether or not a patient has diabetes. To do this, we'll use historical data from patients.

We'll use the dataset [Diabetes Data Set](http://archive.ics.uci.edu/ml/datasets/diabetes)


This dataset describes the medical records of patients from Pima Indians and each record was marqued whether the patient develop diabetes or not.


**Information about the atributes:**

1. Number of times pregnant
2. Plasma glucose concentration a 2 hours in an oral glucose tolerance test
3. Diastolic blood pressure (mm Hg)
4. Triceps skin fold thickness (mm)
5. 2-Hour serum insulin (mu U/ml)
6. Body mass index (weight in kg/(height in m)^2)
7. Diabetes pedigree function
8. Age (years)
9. Class variable (0 or 1)

# 2. Extracting and loading data

In [1]:
# Import libraries
import pandas as pd

In [2]:
# Dataset path
path = '/content/drive/My Drive/Colab Notebooks/07_machine_learning/data/pima-data.csv'

In [3]:
# Load data
data = pd.read_csv(path)
data.head(5)

# This dataset doesn't have header

   6  148  72  35    0  33.6  0.627  50  1
0  1   85  66  29    0  26.6  0.351  31  0
1  8  183  64   0    0  23.3  0.672  32  1
2  1   89  66  23   94  28.1  0.167  21  0
3  0  137  40  35  168  43.1  2.288  33  1
4  5  116  74   0    0  25.6  0.201  30  0

In [4]:
# Load again and add column names
columns = ['preg','plas','pres','skin','test','mass','pedi','age','class']
data = pd.read_csv(path,names=columns)

In [5]:
# Check dataset with column names
data.head(5)

   preg  plas  pres  skin  test  mass   pedi  age  class
0     6   148    72    35     0  33.6  0.627   50      1
1     1    85    66    29     0  26.6  0.351   31      0
2     8   183    64     0     0  23.3  0.672   32      1
3     1    89    66    23    94  28.1  0.167   21      0
4     0   137    40    35   168  43.1  2.288   33      1

In [6]:
# Checking the shape
data.shape

(768, 9)

# 3. Exploratory Data Analysis

## 3.1 Descriptive Analysis

In [7]:
# Predictor variables: preg	,plas	,pres	,skin	,test	,mass	,pedi ,age
# Target variable: class
data.head(20)

    preg  plas  pres  skin  test  mass   pedi  age  class
0      6   148    72    35     0  33.6  0.627   50      1
1      1    85    66    29     0  26.6  0.351   31      0
2      8   183    64     0     0  23.3  0.672   32      1
3      1    89    66    23    94  28.1  0.167   21      0
4      0   137    40    35   168  43.1  2.288   33      1
5      5   116    74     0     0  25.6  0.201   30      0
6      3    78    50    32    88  31.0  0.248   26      1
7     10   115     0     0     0  35.3  0.134   29      0
8      2   197    70    45   543  30.5  0.158   53      1
9      8   125    96     0     0   0.0  0.232   54      1
10     4   110    92     0     0  37.6  0.191   30      0
11    10   168    74     0     0  38.0  0.537   34      1
12    10   139    80     0     0  27.1  1.441   57      0
13     1   189    60    23   846  30.1  0.398   59      1
14     5   166    72    19   175  25.8  0.587   51      1
15     7   100     0     0     0  30.0  0.484   32      1
16     0   118    84    47   230  45.8  0.551   31      1
17     7   107    74     0     0  29.6  0.254   31      1
18     1   103    30    38    83  43.3  0.183   33      0
19     1   115    70    30    96  34.6  0.529   32      1

If the number of rows in the file is bigger, the algorithm might take much time to process. Whether the number of records is smallest, it's possible that there isn't no records enough to train the model.

If there are many columns, the algorithm might have performance problems because the high dimensionality.

The best solution will be depend case by case. Remember that: train the model in a subset of the whole dataset and then apply the model with new data.

In [8]:
# Check shape
data.shape

(768, 9)

The data types are very important, it might be possible to convert strings, or columns with integer numbers could represent categorical variables or ordinary values.

In [9]:
# Data types of each attribute
data.dtypes

preg       int64
plas       int64
pres       int64
skin       int64
test       int64
mass     float64
pedi     float64
age        int64
class      int64
dtype: object

In [11]:
# Describing data
data.describe()

             preg        plas        pres  ...        pedi         age       class
count  768.000000  768.000000  768.000000  ...  768.000000  768.000000  768.000000
mean     3.845052  120.894531   69.105469  ...    0.471876   33.240885    0.348958
std      3.369578   31.972618   19.355807  ...    0.331329   11.760232    0.476951
min      0.000000    0.000000    0.000000  ...    0.078000   21.000000    0.000000
25%      1.000000   99.000000   62.000000  ...    0.243750   24.000000    0.000000
50%      3.000000  117.000000   72.000000  ...    0.372500   29.000000    0.000000
75%      6.000000  140.250000   80.000000  ...    0.626250   41.000000    1.000000
max     17.000000  199.000000  122.000000  ...    2.420000   81.000000    1.000000

[8 rows x 9 columns]

In [12]:
# Check the balance of the target variable - Distribuition of classes
data.groupby('class').size()

class
0    500
1    268
dtype: int64

In classification problems it might be necessary to balance the classes. Unbalance classes (that is: greater volume in one the classes) are common and need to be addressed during the pre processing fase. We can see above that exists a clear disproportion between the classes 0 (not occurrence of diabetes) and 1 (occurrence of diabetes).

The algorithm might learn more about the the class 0 than the class 1, it's possible to apply some technique to balance these variables.