<a href="https://colab.research.google.com/github/ralsouza/machine_learning_python/blob/master/notebooks/03_challenge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. Predictive classification model to predict the binary variable value (true or false) from numeric data.

In [6]:
# Import modules
import numpy as np
import pandas as pd
from sklearn.decomposition import PCA
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LogisticRegression
import warnings
warnings.filterwarnings("ignore")

# 2. Data pre-processing

## 2.1 Train Data

In [7]:
# Train data
n_train = 10
np.random.seed(0)
df_train = pd.DataFrame({"var1": np.random.random(n_train), \
                         "var2": np.random.random(n_train), \
                         "var3": np.random.random(n_train), \
                         "var4": np.random.randint(0,2,n_train).astype(bool),\
                         "target": np.random.randint(0,2,n_train).astype(bool)})

In [8]:
# Shape
df_train.shape

(10, 5)

In [9]:
# Head
df_train.head()

       var1      var2      var3   var4  target
0  0.548814  0.791725  0.978618   True    True
1  0.715189  0.528895  0.799159  False    True
2  0.602763  0.568045  0.461479   True   False
3  0.544883  0.925597  0.780529  False   False
4  0.423655  0.071036  0.118274   True   False

### 2.1.2 Separating train data in input and output components

In [42]:
# Predict variables
x_train = df_train.iloc[:,0:4]

In [43]:
# Target variable
y_train = df_train.iloc[:,4]

## 2.2 Test Data

In [30]:
# Test data
n_test = 3
np.random.seed(1)
df_test = pd.DataFrame({"var1": np.random.random(n_test), \
                        "var2": np.random.random(n_test), \
                        "var3": np.random.random(n_test), \
                        "var4": np.random.randint(0,2,n_test).astype(bool),\
                        "target": np.random.randint(0,2,n_test).astype(bool)})

In [31]:
# Shape
df_test.shape

(3, 5)

In [32]:
# Head
df_test.head()

       var1      var2      var3   var4  target
0  0.417022  0.302333  0.186260  False    True
1  0.720324  0.146756  0.345561  False   False
2  0.000114  0.092339  0.396767  False   False

### 2.2.2 Separating test data in input and output components

In [44]:
# Predict variables
x_test = df_test.iloc[:,0:4]

In [45]:
# Target variable
y_test = df_test.iloc[:,4]

# 3. Create a PCA model with dimensionality reduction with 3 components

In [40]:
# Setting PCA
pca = PCA(n_components = 3)

# 3.1 Apply the PCA to datasets

In [46]:
# Reduce train
pca_x_train = pca.fit_transform(x_train)

# Reduce test
pca_x_test = pca.fit_transform(x_test)

In [47]:
# Show pca x train values
pca_x_train

array([[ 0.41587301, -0.71062799, -0.11371247],
       [-0.33697959,  0.03003896, -0.17654096],
       [ 0.63605658, -0.29090443,  0.05028171],
       [-0.43846812, -0.20849886,  0.15980423],
       [ 0.94815762,  0.2527858 ,  0.03898095],
       [-0.12006504,  0.42440996, -0.31974987],
       [ 0.0903311 ,  0.76011682,  0.04769318],
       [-0.52214167, -0.27678453, -0.15929367],
       [-0.39311411, -0.02468934,  0.04231957],
       [-0.27964979,  0.04415361,  0.43021735]])

In [49]:
# Show pca x test values
pca_x_test

array([[-0.06592466,  0.16471905,  0.        ],
       [-0.32837335, -0.10489891,  0.        ],
       [ 0.39429801, -0.05982013,  0.        ]])

# 4. Create dataframes do arrays created by PCA

In [50]:
df_pca_x_train = pd.DataFrame(pca_x_train)
df_pca_x_test  = pd.DataFrame(pca_x_test)

In [51]:
# Check values
df_pca_x_train.head()

          0         1         2
0  0.415873 -0.710628 -0.113712
1 -0.336980  0.030039 -0.176541
2  0.636057 -0.290904  0.050282
3 -0.438468 -0.208499  0.159804
4  0.948158  0.252786  0.038981

In [52]:
# Check values
df_pca_x_test.head()

          0         1    2
0 -0.065925  0.164719  0.0
1 -0.328373 -0.104899  0.0
2  0.394298 -0.059820  0.0

# 4. Create a Logistic Regression model

ValueError: ignored

# Usando o recurso de pipeline do scikit-learn para encadear 2 algoritmos em um mesmo modelo, concatene o resultado do PCA e Regressão Logística

# Faça previsões com o modelo treinado

# Imprimindo as previsões